<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category %></title>
</head>
<body>
      <%- include('./partials/nav') %>
  
    <h1>Category</h1>

<!-- iterates over an array called menu. Inside the loop, it checks the category property of each item in the menu array and displays a corresponding heading based on the category. It then displays the name, price, rating, and details of each item in a <div></div> -->

<div>
    <% menu.forEach(item => { %>
        <h2><%= item.category %></h2>
        <div>
            <h3><%= item.name %></h3>
            <p>Price: <%= item.price %></p>
            <p>Rating: <%= item.rating %></p>
            <p>Details: <%= item.details %></p>
        </div>
    <% }) %>
</div>
    
</body>
</html>