<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= menu %></title>
</head>
<body>
    <%- include('./partials/nav') %>

  <h1>Full Menu</h1>
</body>
<!-- iterates over an array called menu. Inside the loop, it checks the category property of each item in the menu array and displays a corresponding heading based on the category. It then displays the name, price, rating, and details of each item in a <div></div> -->
<% menu.forEach(item => { %> 
  <% if (item.category === 'Mains') { %> 
      <h2><%= item.category.charAt(0).toUpperCase() + item.category.slice(1) %></h2>
  <% } else if (item.category === 'Desserts') { %>
      <h2><%= item.category.charAt(0).toUpperCase() + item.category.slice(1) %></h2>
  <% } else if (item.category === 'Sides') { %>
      <h2><%= item.category.charAt(0).toUpperCase() + item.category.slice(1) %></h2>
  <% } %>
  <div>
      <h3><%= item.name %></h3>
      <p>Price: <%= item.price %></p>
      <p>Rating: <%= item.rating %></p>
      <p>Details: <%= item.details %></p>
  </div>
<% }) %>
